name: Get All Data

on:
  issues:
    branches: 
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Get Data
      run: |
        mkdir 原始数据
        python fund_crawl_Jensen.py > results.txt
        zip -r Results.zip 原始数据/ results.txt
    - name: Current Time
      id: current-time
      uses: gerred/current-time@v1.0.0
    - name: Create a Release
      id: create_release
      uses: actions/create-release@v1.1.4
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.current-time.outputs.time }}
        release_name: Release ${{ steps.current-time.outputs.time }}
        draft: false
        prerelease: false
    - name: Upload Release Asset
      uses: actions/upload-release-asset@v1.0.2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }} 
        asset_path: ./Results.zip
        asset_name: Results.zip
        asset_content_type: application/zip
